#cta-section {
  .item {
    .img-wrapper {
        transform: scale(1);
        transition: scale 0.3 ease;
      }

    #followers-icon,
    #likes-icon,
    #views-icon {
      width: 150px;
      height: 150px;

      @media (max-width: 992px) {
        width: 100px;
        height: 100px;
      }
    }

    &:hover {
      .img-wrapper {
        transform: scale(1.2);
        transition: scale 0.3 ease;
      }
    }
  }
}
