#cta-section {
  .item {
    .img-wrapper {
        transform: scale(1);
        transition: scale 0.3 ease;
      }

    #followers-new,
    #likes-new,
    #views-new {
      width: 300px;

      @media (max-width: 992px) {
        width: 250px;
        height: 2500px;
      }
    }

    // &:hover {
    //   .img-wrapper {
    //     transform: scale(1.2);
    //     transition: scale 0.3 ease;
    //   }
    // }
  }
}
