#footer {
    .menu  {
        .title,
        .nav {
            text-align: left;

            @media (max-width:  768px) {
                text-align: center;
            }
        }

        a {
            @media (max-width:  768px) {
                display: block;
                text-align: center;
            }
        }
    }
}