.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $primary;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $primary;
    background-color: $primary;
    box-shadow: none;
}

.dropdown-item:hover, 
.dropdown-item:focus {
  color: $primary;
}

.dropdown-item.active, .dropdown-item:active {
  color: #E1306C;
  text-decoration: none;
  background-color: rgb(255, 237, 243);
}

.form-control:focus {
  border-color: $primary;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(225, 48, 108, 0.12);
}

.form-group {
  label {
    text-align: left;
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #aaa;
    padding: 0 0 2px 1px;
    margin: 0;
    line-height: 130%;
  }

  .custom-select:focus {
    border-color: $primary;
    outline: 0;
  }

  .icon {
    top: 45px !important;
  }
}