<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-4 mb-md-5" data-aos="fade-up">
                    <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                        <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                            <img class="flex-fill hover-fade-out" src="assets/img/blog/thumb-2.jpg" alt="blog.1.image">
                            <div class="divider divider-side bg-white d-none d-lg-block"></div>
                        </a>
                        <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                            <div class="p-lg-4 p-xl-5">
                                <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                                    <a href="#" class="badge badge-pill badge-danger">Design</a>
                                    <div class="text-small text-muted">October 10th</div>
                                </div>
                                <a href="#">
                                    <h1>Unveiling our new vision for Jumpstart</h1>
                                </a>
                                <p class="lead">
                      Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                    </p>
                                <a href="/champmarketer/blog-article.html" class="lead">Read Story</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 mb-md-5" data-aos="fade-up">
                    <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                        <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                            <img class="flex-fill hover-fade-out" src="assets/img/blog/thumb-1.jpg" alt="blog.2.image">
                            <div class="divider divider-side bg-white d-none d-lg-block"></div>
                        </a>
                        <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                            <div class="p-lg-4 p-xl-5">
                                <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                                    <a href="#" class="badge badge-pill badge-primary">Culture</a>
                                    <div class="text-small text-muted">October 2nd</div>
                                </div>
                                <a href="#">
                                    <h1>Making the most of team-building sessions</h1>
                                </a>
                                <p class="lead">
                      Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                    </p>
                                <a href="/champmarketer/blog-article.html" class="lead">Read Story</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 mb-md-5" data-aos="fade-up">
                    <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                        <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                            <img class="flex-fill hover-fade-out" src="assets/img/blog/thumb-3.jpg" alt="blog.3.image">
                            <div class="divider divider-side bg-white d-none d-lg-block"></div>
                        </a>
                        <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                            <div class="p-lg-4 p-xl-5">
                                <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                                    <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                                    <div class="text-small text-muted">September 13th</div>
                                </div>
                                <a href="#">
                                    <h1>Keep your users engaged in their sleep</h1>
                                </a>
                                <p class="lead">
                      Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.
                    </p>
                                <a href="/champmarketer/blog-article.html" class="lead">Read Story</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 mb-md-5" data-aos="fade-up">
                    <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                        <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                            <img class="flex-fill hover-fade-out" src="assets/img/blog/thumb-4.jpg" alt="blog.4.image">
                            <div class="divider divider-side bg-white d-none d-lg-block"></div>
                        </a>
                        <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                            <div class="p-lg-4 p-xl-5">
                                <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                                    <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                                    <div class="text-small text-muted">August 8th</div>
                                </div>
                                <a href="#">
                                    <h1>It's not just about the clicks. Here's why</h1>
                                </a>
                                <p class="lead">
                      Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                    </p>
                                <a href="/champmarketer/blog-article.html" class="lead">Read Story</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 mb-md-5" data-aos="fade-up">
                    <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                        <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                            <img class="flex-fill hover-fade-out" src="assets/img/blog/thumb-5.jpg" alt="blog.5.image">
                            <div class="divider divider-side bg-white d-none d-lg-block"></div>
                        </a>
                        <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                            <div class="p-lg-4 p-xl-5">
                                <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                                    <a href="#" class="badge badge-pill badge-primary">Finance</a>
                                    <div class="text-small text-muted">July 21st</div>
                                </div>
                                <a href="#">
                                    <h1>Why social ROI is impossible to measure</h1>
                                </a>
                                <p class="lead">
                      Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                    </p>
                                <a href="/champmarketer/blog-article.html" class="lead">Read Story</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 mb-md-5" data-aos="fade-up">
                    <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                        <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                            <img class="flex-fill hover-fade-out" src="assets/img/blog/thumb-8.jpg" alt="blog.6.image">
                            <div class="divider divider-side bg-white d-none d-lg-block"></div>
                        </a>
                        <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                            <div class="p-lg-4 p-xl-5">
                                <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                                    <a href="#" class="badge badge-pill badge-danger">Design</a>
                                    <div class="text-small text-muted">June 30th</div>
                                </div>
                                <a href="#">
                                    <h1>Breathing new life into a tired UI</h1>
                                </a>
                                <p class="lead">
                      Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                    </p>
                                <a href="/champmarketer/blog-article.html" class="lead">Read Story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "pagination.njk" %}
    
</section>