<div class="rounded-circle bg-success-alt">
    <img src="https://cdn.champmarketer.com/assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg="data-inject-svg">
</div>