<section class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="card card-body shadow-lg">
                    <h1 class="text-center h2">Checkout</h1>

                    <form id="checkout-form" class="choose-account-single" autocomplete="off">
                        <div id="checkout-package-wrapper" class="field">
                            <div id="checkout-package-select" class="ui selection dropdown package top" tabindex="0">
                                <input id="checkout-package-input" type="hidden" name="package" value="100">
                                <img src="assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm dropdown-icon">
                                <img class="icon bg-primary heart-icon" src="assets/img/icons/theme/general/heart.svg" alt="Icon" data-inject-svg />
                                <div class="text" style="opacity: 1;">100 likes <span class="right">$2.99</span></div>
                                <div id="checkout-menu" class="menu transition hidden" tabindex="-1" style="opacity: 1;">
                                    <div class="item active selected" data-selected="true" data-value="100">100 likes <span class="right">$2.99</span></div>
                                    <div class="item" data-selected="false" data-value="250">250 likes <span class="right">$4.49</span></div>
                                    <div class="item" data-selected="false" data-value="500">500 likes <span class="right">$6.79</span></div>
                                    <div class="item" data-selected="false" data-value="750">750 likes <span class="right">$9.79</span></div>
                                    <div class="item" data-selected="false" data-value="1000">1000 likes <span class="right">$12.99</span></div>
                                    <div class="item" data-selected="false" data-value="1500">1500 likes <span class="right">$16.99</span></div>
                                    <div class="item" data-selected="false" data-value="2000">2000 likes <span class="right">$19.99</span></div>
                                    <div class="item" data-selected="false" data-value="2500">2500 likes <span class="right">$24.99</span></div>
                                    <div class="item" data-selected="false" data-value="5000">5000 likes <span class="right">$34.99</span></div>
                                    <div class="item" data-selected="false" data-value="7500">7500 likes <span class="right">$49.99</span></div>
                                    <div class="item" data-selected="false" data-value="10000">10000 likes <span class="right">$64.99</span></div>
                                    <div class="item" data-selected="false" data-value="15000">15000 likes <span class="right">$84.99</span></div>
                                    <div class="item" data-selected="false" data-value="20000">20000 likes <span class="right">$104.99</span></div>
                                    <div class="item" data-selected="false" data-value="25000">25000 likes <span class="right">$119.99</span></div>
                                    <div class="item" data-selected="false" data-value="30000">30000 likes <span class="right">$139.99</span></div>
                                    <div class="item" data-selected="false" data-value="40000">40000 likes <span class="right">$179.99</span></div>
                                    <div class="item" data-selected="false" data-value="50000">50000 likes <span class="right">$219.99</span></div>
                                </div>
                            </div>
                        </div>

                        <div id="checkout-username-wrapper" class="field">
                            <img class="icon bg-primary" src="assets/img/icons/theme/general/user.svg" alt="Icon" data-inject-svg />
                            <input type="text" name="username" autocapitalize="none" class="bottom" placeholder="Instagram Username" autocomplete="off">
                        </div>

                        <p id="checkout-consent" class="my-4">By clicking on <strong>Continue</strong>, you agree to our <a target="_blank" href="https://stormlikes.com/terms">terms of service</a> and confirm that you've read our <a target="_blank" href="https://stormlikes.com/privacy-policy">privacy policy</a>.</p>

                        <button id="checkout-button" class="btn btn-primary">
                            <span class="text">Continue</span>
                            <span class="spinner white"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>