{# CTA section #}
<section>
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Get Started</h3>
                <div class="lead">Choose one of the options below to get started. Your Instagram Likes and Followers are only a few clicks away!</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                <div class="text-center">
                    <div class="img-wrapper mb-4 d-inline-block p-3 rounded-circle" style="background: #fff0f5; border: 10px solid #fff7fa;">
                        <img class="icon bg-primary" src="assets/img/icons/theme/communication/group.svg" alt="Icon" data-inject-svg="data-inject-svg"/>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Buy Followers</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="text-center">
                    <div class="img-wrapper mb-4 d-inline-block p-3 rounded-circle" style="background: #fff0f5; border: 10px solid #fff7fa;">
                        <img class="icon bg-primary" src="assets/img/icons/theme/general/heart.svg" alt="Icon" data-inject-svg="data-inject-svg"/>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Buy Likes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="300">
                <div class="text-center">
                    <div class="img-wrapper mb-4 d-inline-block p-3 rounded-circle" style="background: #fff0f5; border: 10px solid #fff7fa;">
                        <img class="icon bg-primary" src="assets/img/icons/theme/general/eye-solid.svg" alt="Icon" data-inject-svg="data-inject-svg"/>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Buy Views</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# CTA section end #}