<section class="o-hidden pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                <div>
                    <div class="alert bg-secondary rounded-lg d-inline-block mb-4">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-success-alt">
                                <img src="assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg="data-inject-svg">
                            </div>
                            <div class="mx-3">No bots, no fake accounts.</div>
                        </div>
                    </div>
                    <h3 class="h1">Get real followers, from real people.</h3>
                    <p class="lead">We have over 500,000 people on our network earning a fraction of our revenue per action. Rest assured that all your followers are real.</p>

                    <div class="mt-4 mb-5" data-aos="fade-left" data-aos-delay="100">
                        <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                            <img src="assets/img/avatars/male-1.jpg" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                            <div class="text-dark mb-0">&ldquo;I ordered over 10,000 followers from ChampMarketer and they are all real accounts! I'm really happy with my order.&rdquo;</div>
                        </div>
                    </div>

                    <a href="#" class="lead">Get Started
                        <img class="icon bg-primary" src="assets/img/icons/theme/code/right-circle.svg" alt="Icon" width="12px" data-inject-svg="data-inject-svg"/></a>

                </div>
            </div>
            <div class="col-md-9 col-lg-6">
                <img src="assets/img/features/feature-1.png" alt="Instagram followers" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="o-hidden pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
                <div>
                    <h2 class="h1">Lorem Ipsum</h2>
                    <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-secondary">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-primary" data-inject-svg="data-inject-svg">
                            </div>
                            <h6 class="mb-0 ml-3">Fully Responsive</h6>
                        </div>
                    </div>
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-secondary">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Layouts icon" class="m-2 icon icon-xs bg-primary" data-inject-svg="data-inject-svg">
                            </div>
                            <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                        </div>
                    </div>
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="300">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-secondary">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Box icon" class="m-2 icon icon-xs bg-primary" data-inject-svg="data-inject-svg">
                            </div>
                            <h6 class="mb-0 ml-3">Modular Components</h6>
                        </div>
                    </div>
                    <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="400">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle bg-secondary">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Lightning icon" class="m-2 icon icon-xs bg-primary" data-inject-svg="data-inject-svg">
                            </div>
                            <h6 class="mb-0 ml-3">Suits Your Style</h6>
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-5" data-aos="fade-right" data-aos-delay="100">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                        <img src="assets/img/avatars/male-1.jpg" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;Launching features with emails and blog posts doesn&rsquo;t drive adoption. ChampMarketer increased new feature activation by 20%&rdquo;</div>
                    </div>
                </div>

                <a href="#" class="lead">Get Started
                    <img class="icon bg-primary" src="assets/img/icons/theme/code/right-circle.svg" alt="Icon" width="12px" data-inject-svg="data-inject-svg"/></a>

            </div>
            <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1">
                <img src="assets/img/features/feature-2.png" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="o-hidden pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-around text-center text-lg-left">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                <div>
                    <h3 class="h1">Stand out from the crowd.</h3>
                    <p class="lead">With the help of ChampMarketer, you'll see over 10x the growth, engagement, and retention compared to organically growing your account.</p>

                    <div class="row mb-5">
                        <div class="col" data-aos="fade-up" data-aos-delay="100">
                            <div class="h2 text-primary mb-2" data-countup="data-countup" data-start="" data-end="97" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="%" data-easing=""></div>
                            <h6 class="mb-0">User Satisfaction</h6>
                        </div>
                        <div class="col" data-aos="fade-up" data-aos-delay="200">
                            <div class="h2 text-primary mb-2" data-countup="data-countup" data-start="20" data-end="24" data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="/7" data-easing="false"></div>
                            <h6 class="mb-0">Support</h6>
                        </div>
                        <div class="col" data-aos="fade-up" data-aos-delay="300">
                            <div class="h2 text-primary mb-2" data-countup="data-countup" data-start="" data-end="142" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix="k+" data-easing=""></div>
                            <h6 class="mb-0">Downloads</h6>
                        </div>

                    </div>

                    <a href="#" class="lead">Get Started
                        <img class="icon bg-primary" src="assets/img/icons/theme/code/right-circle.svg" alt="Icon" width="12px" data-inject-svg="data-inject-svg"/></a>

                </div>
            </div>
            <div class="col-md-9 col-lg-6">
                <img src="assets/img/features/feature-3.svg" alt="Instagram followers" class="img-fluid">
            </div>
        </div>
    </div>
</section>