<section class="bg-light o-hidden">
    <div class="container">
        <div class="row align-items-center justify-content-around flex-lg-row-reverse">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 pl-lg-5 pl-xl-0">
                <div data-aos="fade-in" data-aos-offset="250">
                    <h2 class="h1 text-center text-lg-left">Why ChampMarketer?</h2>
                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                        <div class="my-4" data-aos="fade-left" data-aos-delay="100">
                            <div class="d-flex">
                                <div class="mr-3 mr-md-4">
                                    <img class="icon bg-primary" src="https://cdn.champmarketer.com/assets/img/icons/theme/communication/group.svg" alt="Icon" data-inject-svg />
                                </div>
                                <div>
                                    <h5>Real Followers</h5>
                                    <div>
                        Duis convallis convallis tellus imp interdum. Non diam phasellus vestibulum lorem sed risus ultricies Tyrion. Enim blandit volutpat.
                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4" data-aos="fade-left" data-aos-delay="200">
                            <div class="d-flex">
                                <div class="mr-3 mr-md-4">
                                    <img class="icon bg-primary" src="https://cdn.champmarketer.com/assets/img/icons/theme/communication/sending.svg" alt="Icon" data-inject-svg />
                                </div>
                                <div>
                                    <h5>Fast Delivery</h5>
                                    <div>
                        Eunuch sed blandit libero volutpat sed cras. Cersei quis imperdiet tincidunt unuch pulvinar sapien. Habitasse platea Davos vestibulum.
                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4" data-aos="fade-left" data-aos-delay="300">
                            <div class="d-flex">
                                <div class="mr-3 mr-md-4">
                                    <img class="icon bg-primary" src="https://cdn.champmarketer.com/assets/img/icons/theme/communication/chat-4.svg" alt="Icon" data-inject-svg />
                                </div>
                                <div>
                                    <h5>24/7 Customer Support</h5>
                                    <div>
                        Eunuch sed blandit libero volutpat sed cras. Cersei quis imperdiet tincidunt unuch pulvinar sapien. Habitasse platea Davos vestibulum.
                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg col-xl-6">
                <div class="row justify-content-center" data-jarallax-element="-50">
                    <div class="col-12" data-aos="zoom-in" data-aos-delay="250">
                        <img class="img-fluid position-relative" src="https://cdn.champmarketer.com/assets/img/mobile-app/mobile-app-2.gif" alt="Pouring hearts">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>