<section class="pt-5">
    <div class="container">
        <div class="row justify-content-end sticky-top bg-white">
            <div class="col-lg-3 col-4 py-3 py-md-4 border-bottom">
                <div class="d-flex flex-column align-items-center text-center">
                    <div class="img-wrapper mb-4 d-inline-block p-3 rounded-circle" style="background: #fff0f5; border: 10px solid #fff7fa;">
                        <img class="icon bg-primary" src="assets/img/icons/theme/communication/group.svg" alt="Icon" data-inject-svg="data-inject-svg"/>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Buy Followers</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4 py-3 py-md-4 border-bottom">
                <div class="d-flex flex-column align-items-center text-center">
                    <div class="img-wrapper mb-4 d-inline-block p-3 rounded-circle" style="background: #fff0f5; border: 10px solid #fff7fa;">
                        <img class="icon bg-primary" src="assets/img/icons/theme/general/heart.svg" alt="Icon" data-inject-svg="data-inject-svg"/>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Buy Likes</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-4 py-3 py-md-4 border-bottom">
                <div class="d-flex flex-column align-items-center text-center">
                    <div class="img-wrapper mb-4 d-inline-block p-3 rounded-circle" style="background: #fff0f5; border: 10px solid #fff7fa;">
                        <img class="icon bg-primary" src="assets/img/icons/theme/general/eye-solid.svg" alt="Icon" data-inject-svg="data-inject-svg"/>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Buy Views</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="pricing-table-section text-center text-lg-left">
                <div class="row no-gutters">
                    <div class="col">
                        <h5 class="mb-4">Basic Features</h5>
                    </div>
                </div>
                <div class="border rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-lg-3  py-3 py-md-4">
                            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                <h6 class="mb-0 ml-lg-4">Projects</h6>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                            <span>4</span>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                            <span>Unlimited</span>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                            <span>Unlimited</span>

                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-lg-3  py-3 py-md-4">
                            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                <h6 class="mb-0 ml-lg-4">Client Billing</h6>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-success-alt">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Included" class="m-2 icon icon-xs bg-success" data-inject-svg>
                            </div>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-success-alt">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Included" class="m-2 icon icon-xs bg-success" data-inject-svg>
                            </div>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-success-alt">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Included" class="m-2 icon icon-xs bg-success" data-inject-svg>
                            </div>

                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-lg-3  py-3 py-md-4">
                            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                <h6 class="mb-0 ml-lg-4">Restricted Access</h6>
                                <div class="ml-2 tooltip-circle bg-dark text-white" data-toggle="tooltip" title="Here's a tooltip to help explain this feature">?</div>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-danger-alt">
                                <img src="assets/img/icons/interface/icon-x.svg" alt="Included" class="m-2 icon icon-xs bg-danger" data-inject-svg>
                            </div>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                            <span>Enhanced</span>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                            <span>Custom</span>

                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-lg-3  py-3 py-md-4">
                            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                <h6 class="mb-0 ml-lg-4">Code Export</h6>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-danger-alt">
                                <img src="assets/img/icons/interface/icon-x.svg" alt="Included" class="m-2 icon icon-xs bg-danger" data-inject-svg>
                            </div>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-success-alt">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Included" class="m-2 icon icon-xs bg-success" data-inject-svg>
                            </div>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-success-alt">
                                <img src="assets/img/icons/interface/icon-check.svg" alt="Included" class="m-2 icon icon-xs bg-success" data-inject-svg>
                            </div>

                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-lg-3  py-3 py-md-4">
                            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                <h6 class="mb-0 ml-lg-4">Project Transfers</h6>
                                <div class="ml-2 tooltip-circle bg-dark text-white" data-toggle="tooltip" title="Here's a tooltip to help explain this feature">?</div>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">

                            <div class="rounded-circle bg-danger-alt">
                                <img src="assets/img/icons/interface/icon-x.svg" alt="Included" class="m-2 icon icon-xs bg-danger" data-inject-svg>
                            </div>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                            <span>Unlimited</span>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center py-3 py-md-4">
                            <span>Unlimited</span>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>