<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center border-0">
                <div class="w-100 pt-4">
                    <h5 class="h3">Sign In</h5>
                    <div>Enter your account details below</div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="assets/img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>
            </div>
            <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="sign-up-password" placeholder="Password">
                        <div class="text-right text-small mt-2">
                            <a href="account-forgot-password.html">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox text-small">
                            <input type="checkbox" class="custom-control-input" id="sign-in-remember">
                            <label class="custom-control-label" for="sign-in-remember">Remember me next time</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Sign In</button>
                </form>
                <div class="text-center text-small mt-3">
              Don't have an account? <a href="account-sign-up-simple.html">Sign up here</a>
                </div>
            </div>
        </div>
    </div>
</div>