{{ pageName }}
{% set pageName = "igLikes" %}
{{ pageName }}

{% extends "layout.njk" %}

{% block content %}

 {% include "carousel-views.njk" %}
 {% include "img-features.njk" %}
 {% include "testimonials.njk" %}
  {% include "page-info.njk" %}

{% endblock %}
