{% extends "layout.njk" %}

{% block content %}

  {% include "carousel-followers.njk" %}
  {% include "img-features.njk" %}
  {% include "testimonials.njk" %}
  {% include "faq.njk" %}
  {% include "page-info.njk" %}

{% endblock %}