{{ pageName }}
{% set pageName = "article" %}
{{ pageName }}

{% extends "layout.njk" %}

{% block content %}
    {% include "checkout-step1.njk" %}
    {% include "checkout-step2.njk" %}
    {% include "checkout-step3.njk" %}
{% endblock %}

