{{ pageName }}
{% set pageName = "terms" %}
{{ pageName }}

{% extends "layout.njk" %}

{% block content %}
    <div class="container" style="margin-top: 80px; margin-bottom: 80px;">
        {% include "privacy.njk" %}
    </div>
{% endblock %}

    