{% include "head.njk" %}
{% include "loader.njk" %}
{% include "announcement-bar.njk" %}
{% include "nav.njk" %}

{% block content %}{% endblock %}

{% include "back-to-top.njk" %}
{% include "footer.njk" %}
{% include "sign-in-modal.njk" %}
{% include "sign-up-modal.njk" %}
{% include "footer-scripts.njk" %}

<script>
    $(document).ready(function () {
        $menu = $('#checkout-menu');
        $('#checkout-package-select').on('click', function () {
            if ($menu.hasClass('hidden')) {
                $menu.removeClass('hidden');
                $menu.addClass('show');
            } else {
                $menu.removeClass('show');
                $menu.addClass('hidden');
            }
        });
    });
</script>